<template>
	<div @mouseup.left="discover" @mousedown.right="remainingBombs > 0 ? flag() : null" @contextmenu.prevent class="cell" :class="info.initial ? 'cell-initial' : 'cell-empty'">
		<span :class="appearence">{{ value }}</span>
	</div>
</template>

<script>
  export default {
    name: "Cell",
		props: [ 'info', 'remainingBombs' ],
		computed: {
      value() {
        if (this.info.initial) {
          if (this.info.flag) {			
            return '🚩'
					} else {
            return ''
					}
				} else {
          return this.info.value
				}
			},
			appearence() {
        if (this.info.initial) {
          if (this.info.flag) {
            return 'flag'
          } else {
            return ''
          }
        } else {
          return this.info.color
        }
			}
		},
		methods: {
      flag() {
		
        if (this.info.initial) {
					this.$emit('onFlagBomb', this.info)
				}
			},
			discover() {
				this.$emit('onDiscover', this.info)
			}
		}
  }
</script>

<style>

	.cell {
		display: grid;
		justify-items: center;
		align-items: center;
	}

	.cell-initial {
		width: 20px;
		height: 20px;
		background-color: #bdbdbd;
		border-top-color: #ffffff;
		border-left-color: #ffffff;
		border-right-color: #818181;
		border-bottom-color: #818181;
		border-style: solid;
		border-width: 3px;
		cursor: pointer;
	}

	.cell-empty {
		width: 25px;
		height: 25px;
		background-color: #bdbdbd;
		border-right-color: #7b7b7b;
		border-bottom-color: #7b7b7b;
		border-top-width: 0;
		border-left-width: 0;
		border-bottom-width: 1px;
		border-right-width: 1px;
		border-style: solid;
		cursor: default;
	}

	.flag {
		position: relative;
		top: -5px;
		left: 2px;
	}

</style>